@font-face {
	font-family: "iconfont";
	src: url('//at.alicdn.com/t/font_1951404_4ctwjmwyu7h.eot?t=1594988417719');
	/* IE9 */
	src: url('//at.alicdn.com/t/font_1951404_4ctwjmwyu7h.eot?t=1594988417719#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABmAAAAJqAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQMBNgIkAwgLBgAEIAWEbQcwG6kFEdWLL7KvD2wDZj5aP8EGVWxOGT0hJqk2XYTlyc37cNXW/FoH7/vgeVpr7+/MqaZDJYlrUk0QinjiSsVDJBQIySXk9W3HwxsMLY0CWZ/zLhhjGe9jWALyTPQClbu9/grErbe1KcO9URGKJTkPvksymx8LCOkyqmUwFAA+ce/0T6AP0nrnXS5jDBpr0qQuwGgCBbgXRpEVY8PYBS/wOQRwkkg+0tS6hmA09joBZFUXpuBCGI1mOTuCteGoRuJYsBuHxjVwFP1efikQOxhYFHZD33zzLPVDnAIwMRoQREBApy2AAvIBDTLUmO4BCOMUzjSRCseqFfiQbwYu5Kh2hP11drUbgBhUPJPSUz2quAGABuUQUxlm9V7lduuZiJm53IdZLMtLobbDLfv0zceHk/z5GcfqJNA9KstkUAoLr9vZ5WXma3eoDMqxFGq3YeJvK9pczW6OIJAW/gDf29lw6LZktMI806gNwL5Xj8DfUQ7s0YbadhpaUzbmDWKoszY5cQIm2B/kYaolcit5wU7khrw2EjIo7KSTms2HBRdFsGKnFk7yaD3tIsQaQLQDyGUXQPBzCQMvV1D4uSE1ew8LUf5hxS8KTkakK11kiqYi4cz4hOUHZt2idN0s4toLqpefKa+OeA+k08SgLqpyrseItMSO860aZgmStgAdeA2932CnzeLKhWbe27KUTR8q1i0kgoQz4xOWH5h1izIYzKLy/Quql5+po6su+UA6zexQF9UAsjfEQV2P8s75Vg2zBElbgA4sQu832JsXWVy50BOSe1s6/eRQQ7G9KfzdKZJEYFszceYprONMq04SAAAA') format('woff2'),
		url('//at.alicdn.com/t/font_1951404_4ctwjmwyu7h.woff?t=1594988417719') format('woff'),
		url('//at.alicdn.com/t/font_1951404_4ctwjmwyu7h.ttf?t=1594988417719') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
		url('//at.alicdn.com/t/font_1951404_4ctwjmwyu7h.svg?t=1594988417719#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e653";
}
